*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    background-size:contain ;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-bar
{
    background: rgb(0, 100, 0);
    text-align: center;
    }
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: black;
    justify-content: center;
}
.menu-bar ul li
{
    width: 120px;
    margin: 10px;
    padding: 15px;
    height: 35px;
}
header
{
    text-align: center;
    padding-top: 15%;
   /* background-image: url(images/#hero-cover.3.png);*/
    /*height: 500px;
    width: 1024px;*/
}