*{
    margin :0;
    padding: 0; 
    font-family:montserrat;
} 
.header{
    min-height: 120vh;
    width: 100%;
    background-image: url(images/insurancecover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav
{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
    
} 
.nav-links
{
 flex: 1;
 text-align: center;
} 
.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 6px 9px;
    position: relative;
}
.nav-links ul li a
{
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.nav-a
{
    color: white;
}
.text-box
{
    width: 80%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1
{
    font-size: 60px;
}
.text-box p
{
    margin: 10px 0 40px;
    font-size: 20px;
}
.btn
{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding:12px 34px;
    font-size: 25px;
    background: blue;
    position: relative;
    cursor: pointer;
}
nav .fa{display: none;}
@media(max-width: 700px)
{
    .text-box h1{font-size: 20px;}
    .nav-links ul li{display: block;}
    .nav-links {position: absolute;
                background-color:252b42 ;
                height: 100vh;
                width: 200px;
                top: 0;
                right: -200px;
                text-align: left;
                z-index: 2;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.course
{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #f8f8fc;
}
.row 
{
    display: flex;
    justify-content: space-between;
    margin-top: -10%;
}
.course-col
{
    background-color: #fff;
    border-radius: 1px;
    box-sizing: border-box;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;

}@media(max-width:700px){
    .row{flex-direction: column;}
}
.insurance
{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 220px ;
    flex-basis: 32%;
    height: 50vh;

}
@media(max-width:700px){
    .row{flex-direction: column;}
}  
.industry 
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: #f8f8fc;
    background-size:cover ;
    font-size: 20px; 
    height: 150vh;
} 
.industry-col
{
   flex-basis: 31%;
   text-align: center;
   margin-top: 350px;
   border-radius: 10px;
   background-color: #fff;
   height: 500px;
   box-shadow: rgb(202, 197, 197);
}
industry-col img
{
    height: 40px;
    margin-left:5px;
    margin-right: 15px;
    border: radius 50%;
}
.industry-col .fa
{
    margin-bottom: 30px;
    color: #f44336;
}
.subsribe
{
   background-color: #f8f8fc;
   width: 80%;
   height: fit-content;
   margin-left: 1px;
   padding-top: 100px;
   flex-basis: fit-content ;
   align-items: center;
   display: flex;
   justify-content: center;
   margin-top: 50vh;
}
 .subsribe-col
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 20%;

} 
.subsribe-col img
{
  width: 100%;

}
.subscribe-box
{
top: 50%;
left: 50%;
transform: translate(-50%, 30%);
position: relative;
padding: 70px 50px;
width: 300px;
text-align: center;

}
.subscribe-box
{
    width: 80%;
    box-sizing: border-box;
    padding: 1%;
    border: 2px solid gray;
}

.subscribe-box input
{
    width: 30%;
    border: 1px solid grey;
    height: 40px;
}
.subscribe-box button
{
    border-radius: 5px;
    color: white;
    width: 20%;
    height: 40px;
    background: rgb(3, 118, 194);
}


















