*{
    margin :0;
    padding: 0; 
} 
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/insurancecover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
   
    
    