*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body
{
    background-size:contain ;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-bar
{
    background: rgb(0, 100, 0);
    text-align: center;
    }
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}