*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 960px;
    text-align: center;
} 
body
{
    background-size:cover ;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/insurancecover.png);
    background-repeat: no-repeat;
    height: 440px;
    width: 540px;
    margin-top: 10px;box-sizing: border-box;
    
    
    
}
.menu-bar
{
    text-align: center;
    padding: 0%;
    margin: 0%;
    text-indent: 13px; 
    /*word-spacing: 10px;*/
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li
{
    margin-left: 0;
    height: 30px;
    text-align: center;
}
header
{
    text-align: center;
    padding-top: 10%;
    color: white; 

    /*height: 500px;
    width: 1024px;*/
    
}
.box1
{
    padding:none ;
    margin: none;
   /*background-image: url(images/insurancecover.png);*/
   /* background-origin : content-box;*/

}
