*{
    margin :0;
    padding: 0; 
    font-family:montserrat;
} 
.header{
    min-height: 120vh;
    width: 100%;
    background-image: url(images/insurancecover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav
{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
    
} 
.nav-links
{
 flex: 1;
 text-align: center;
} 
.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 6px 9px;
    position: relative;
}
.nav-links ul li a
{
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.nav-a
{
    color: white;
}
.text-box
{
    width: 80%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1
{
    font-size: 60px;
}
.text-box p
{
    margin: 10px 0 40px;
    font-size: 20px;
}
.btn
{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding:12px 34px;
    font-size: 25px;
    background: blue;
    position: relative;
    cursor: pointer;
}
nav .fa{display: none;}
@media(max-width: 700px)
{
    .text-box h1{font-size: 20px;}
    .nav-links ul li{display: block;}
    .nav-links {position: absolute;
                background-color:252b42 ;
                height: 100vh;
                width: 200px;
                top: 0;
                right: -200px;
                text-align: left;
                z-index: 2;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.course
{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #f8f8fc;
}
.row 
{
    display: flex;
    justify-content: space-between;
    margin-top: -10%;
}
.course-col
{
    background-color: #fff;
    border-radius: 1px;
    box-sizing: border-box;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;

}@media(max-width:700px){
    .row{flex-direction: column;}
}
.insurance
{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 220px ;
    flex-basis: 32%;
    height: 50vh;

}
@media(max-width:700px){
    .row{flex-direction: column;}
}  
.industry 
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: #f8f8fc;
    background-size:cover ;
    font-size: 20px; 
    height: 150vh;
} 
.industry-col
{
   flex-basis: 31%;
   text-align: center;
   margin-top: 350px;
   border-radius: 10px;
   background-color: #fff;
   height: 500px;
   box-shadow: rgb(202, 197, 197);
}
industry-col img
{
    height: 40px;
    margin-left:5px;
    margin-right: 15px;
    border: radius 50%;
}
.industry-col .fa
{
    margin-bottom: 30px;
    color: #f44336;
}
.news-letter
{
background-image: linear-gradient(to left, #ee10c8, #d100d0, #ae00d9, #7f00e2, #2412eb);
height: 80px;
width: 80%;
margin: 70px 50px 0 130px;
flex-wrap: wrap;
font-size: 25px;
}
.news-letter>.news>:first-child
{
    margin-left: 10%;
}
span>.email
{
    float: right;
    margin-right: 10px;
    font-size: 4vh;
}
span>.email>input
{
    height: 4vh;
}
span>.subscribe
{
    background-color: #23a6f0;
    color: #f8f8fc;
    border-radius: 8px;
    border: none;
    padding: 10px;
}
.pricing
{

}
.price>h2
{
    color: #252b42;
    font-size: 6vh;
    font-weight: 700;
    text-align: center;    
}
.price>p
{
    color: #252b42;
    font-size: 2.5vh;
    font-weight: 700;
    text-align: center;
}
.types
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25%;
}
.types>.items
{
    width: 24%;
    font-size: 2vh;
    border: 1px solid #23a6f0;
    background-color: #fff;
    border-radius: 8px;
    height: 400px;
    text-align: center;
    color: #252b42;
    margin-top: 4%;
}
.types>.standard
{
    width: 24%;
    font-size: 2vh;
    border: 1px solid #23a6f0;
    background-color: #252b42;
    border-radius: 8px;
    height: 430px;
    text-align: center;
    margin-top: 3%;
}
.items>.h2, h3
{
    color: #23a6f0;
    font-weight: 700;    
}
.standard>h2, p 
{
    color: #fff;
    font-weight: 700;
}
.items>.coloured
{
    color: green;
}
.items>.p
{
    color: #252b42;
}
.standard>.coloured
{
    color: green;
}

.items>.free
{
    padding: 10px 70px;
    background-color: #23a6f0;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 6px;
}
.standard>p
{
    color: #fff;    
}
.standard>.free
{
    padding: 10px 70px;
    background-color: #23a6f0;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 6px;
}
.branches{
    background: #252B42;  
    flex-wrap: wrap;
    height: 70vh;
    margin-top: 3%;
}
.branches>.world{
    color: white;
    font-size: 4vh;
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 4%;
}
/* .branches>.world>br{
    margin-left: 10%; */
.branches>#world-branches{
    font-size: 1.5vh;
    color: white;
    margin-left: 10%;
}
.branches>img{
    width: 35%;
    float: right;
    margin-top: -150px;
    margin-right: 20%;
}
/* .form>img{
    height: 500px;
    margin-left: 260px;
    margin-top: -200px;
    flex-wrap: wrap;
}
.form>form {
    float: right;
    margin-right: 210px;
    margin-top: -515px;
    background-color: white;
    position: relative;
    width: 500px;
    height: 500px;
    margin-left: 50px;
    flex-wrap: wrap;
}
.form>form>h3{
    font-size: 20px;
    font-weight: bold;
    color: #252B42;
}
.consultation{
    margin-top: 50px;
    flex-wrap: wrap;
}
.consultation>h3{
    color: #252B42;
    font-size: 20px;
    font-weight: bold;
    margin-left: 120px;
    
}
.consultation>span{
    font-size: 15px;
    margin-left: 120px;
}
.consultation>span>.contact{
    padding: 10px 30px;
    float: right;
    margin-right: 300px;
    margin-top: -25px;
    background-color: #23A6F0;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
footer{
    margin-top: 30px;
    margin-left: 120px;
    flex-wrap: wrap;
}
footer>.info{
    width: 180px;
    color: #252B42;
    font-weight: bold;
    float: left;
    flex-wrap: wrap;
}
footer>.info>ul>li{
    list-style: none;
    font-size: 9px;
}
footer>.info>ul>li>a{
    text-decoration: none;
    color: #252B42;
    list-style: none;
}
footer>.location{
    width: 200px;
    color: #252B42;
    font-weight: bold;
    float: left;
    flex-wrap: wrap;
}
footer>.location>ul>li{
    list-style: none;
    font-size: 8px;
}
footer>.location>ul>li>a{
    text-decoration: none;
    color: #252B42;
    list-style: none;
}
.copyright{
    background-color: lightgray;
    font-size: 15px;
    font-weight: bold;
    margin-top: 150px;
}
/* .copyright>:first-child{
    margin-left: 110px;
    flex-wrap: wrap; */
/* } */
.copyright>span{
    width: 100%;
    margin: auto;
}
.copyright>.fb{
    color: #23A6F0;
    font-size: 25px;
    float: right;
    margin-right: 150px;
    margin-top: -20px;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
    align-items: center;
    align-content: center;
} */
/* Media-queries for mobile devices */
@media only screen and (min-device-width: 280px) and (max-device-width: 768px) {
    nav{
        padding-left: 100px;
        padding-right: 100px;
    }
    header{
        height: 100vh;
        background-color: lightgray;
        background-image: url('./Images/header.png'); 
        background-size: cover;
        background-position: center;
        flex-wrap: wrap;
    }
    #login-link, #member {
        display: none;
    }
    .nav-elements {
        display: inline-flex;
        flex-direction: column;
    }
    .nav-elements .one {
        float: left;
        margin-left: 0px;
    }
    nav{
        display: block;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
    }
    #brand-name{
        margin-left: -80px;
        float: left;
        color: white;
        font-size: 20px;
    }
    #links-div{
     display: block;
     text-align: center;
    }
    #links-div>ul{
        list-style: none;
        display: block;
    }
    ul>li>a{
        text-decoration: none;
        color: white;
        padding: 20px;
    }
} 























/*.pricing
{
    text-align: center;
    background-color: gainsboro;
    width: 80%;
    margin: auto;    
    font-size: 20px;
    height: 120vh;
    box-sizing: border-box;
}*/
















